
@media only screen and (min-width: 320px) and (max-width: 450px) {
	/*.FlexContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
}
*/

.container{
}

.logo {
  position: fixed;
  margin-right: auto;
  margin-left: 25%
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a4027a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF8EE;
    display: inline-block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    color: #a4027a;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.material-icons.md-34 {
  font-size: 34px;
}


.phoneNumber{
  color: #32b4ac;
  position: absolute;
  right: 0px;
  padding: 16px;
  top: 2%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;}


a{
  color: #32b4ac
}

.cartIcon
{
  position: absolute;
      right: 8px;
      padding: 16px;
      top: 10%;
      display: none;
}

  .search-container {
display: flex;
width: 30px;
height: 28px;

transition: width .2s;
overflow: hidden;
margin: -20px auto;
  }

.search-icon-btn
{
  font-size: 20px;
}
  .search-container:hover {
    width: 180px;
  }

/*
  .search-input {
    flex: 1;
    display: flex;
  }
  */
/*
  .search-input input {

    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    border: 0;
    padding: 0;
    outline: 0;
    margin-left: 10px;
    margin-top: -5px;
  }
*/
	}
